@keyframes crossRotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}



header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .8);

  .hello {
    margin-right: 40px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5em;
      margin: 0;
    }
  } // END HELLO
} // END HEADER


nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  left: -110%;
  color: rgba(255, 255, 255, 1);
  background: #000;
  transition: all .5s ease-in-out;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, .5);

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .svg {
    position: absolute;
    top: 10px;
    left: 20px;
    align-items: flex-start;

    svg {
      margin: 0;
    }
  }

  .menu {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;

    form {
      display: flex;
      align-items: center;
      margin-top: 100px;
      width: 100%;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      font-size: 2em;
      padding: 0;

      &:nth-child(2) {
        flex: 1;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background: rgba(255, 255, 255, .7);
            transition: .3s ease-in-out;
          }

          &:hover:after {
            width: 100%;
            transition: .3s ease-in-out;
          }
        }
      }

      &:nth-child(3) {
        font-size: 1em;

        li {
          transition: .2s;
          &:hover {
            color: rgba(255, 255, 255, .7);
          }
        }
      }

      li {



        &:hover {
          cursor: pointer;
        }
      }
    }
  }
} // END NAV

.active {
  left: 0;
}

.activeContain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  transition: .5s;
}

.main {
  z-index: 10;
  #contain {
    z-index: 5;
  }
}

svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  margin-left: 20px;

  &:hover {
    cursor: pointer;
  }
}


@media (min-width: 960px) {
  nav {
    width: 30%;
    max-width: 500px;
    text-align: left;

    .menu {
      padding-left: 20px;
      width: 100%;
      align-items: flex-start;


      form {
        padding-right: 20px;
      }
    }


    ul {
      justify-content: center;
    }
  }
}


