
<header>
  <div class="svg" (click)="onOpenMenu()" title="Ouvrir le menu général">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
  </div>

  <div class="hello">
    <h1>Bonjour {{ user | uppercase }}</h1>
  </div>
</header>


<nav [ngClass]="{active: sessionMenuOpen}">
  <div class="svg" (click)="onCloseMenu()" title="Fermer le menu général">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"/></svg>
  </div>

 <div class="menu">
   <form>
     <input class="form-control" type="search" placeholder="Search" aria-label="Search">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>
   </form>


   <ul class="first">
     <li>Photo</li>
     <li>Music</li>
     <li>Video</li>
     <li>Software</li>
     <li>Other</li>
   </ul>
   <ul>
     <li>Upload</li>
     <li>Report</li>
     <li>Request</li>
     <li>Parameter</li>
     <li>Disconect</li>
   </ul>
 </div>
</nav>




<div class="main" [ngClass]="{activeContain: sessionMenuOpen}">
</div>
<div id="contain">
  <app-main></app-main>
</div>

