/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: #2c2c2c;
}

a {
  color: #a7d129;
  text-decoration: none;
  display: inline-block;
}

a:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #616f39;
  transition: .3s ease-in-out;
}

a:hover:after {
  width: 100%;
  transition: .3s ease-in-out;
}

a:hover {
  color: #a7d129;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
