<main>

  <div class="item" *ngFor="let item of items">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/180/100/?image=924" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</main>
