main {
  margin: 50px 10px 10px;
  transition: .3s;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
  z-index: 1;
  transition: .3s;

  .item {
    margin: 10px;
    color: black;
    transition: .3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    .card {
      width: 250px;
      height: 300px;

      .card-body {
        padding: 2px;

        h5 {
        }

        p {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  main {
    margin: 50px 20px 20px;
  }
}
